body {
  background-image: url("https://images.unsplash.com/photo-1518277748204-ba05cb84d9f5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9ea3b1a82b08a4ba9764a8788c9cdaaa&auto=format&fit=crop&w=1500&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  background-attachment: fixed;
}

.callout {
  background-color: #D9E5F1;
  border-radius: 10px;
  opacity: 0.95;
}

.menu a {
  color: #FFFFFF;
  font-family: 'Krub', sans-serif;
}

.top-bar, .top-bar ul {
  background: #34435E;
}

.tile {
  margin-top: 1em;
}

.heading {
  margin-top: 1em;
  text-align: center;
}

.form-button {
  margin-top: 1em;
  margin-bottom: 1em;
}

.panel {
  border-radius: 10px;
  height: 2em;
  border: 1px solid gray;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  opacity: 0.7;
}

#query {
  width: 120px;
  height: 30px;
  margin-right: 0px;
}

.title-bar {
  background: #34435E;
}

.right {
  float: right;
}

.weather {
  float: right;
}

form {
  padding-top: 2px;
}

.bob > input{
  height: 30px;
}

.overflow {
  overflow: scroll;
}
